@model PermitExemptionViewModel
@using EPR.Accreditation.Portal.Enums
@using EPR.Accreditation.Portal.ViewModels
@using EPR.Accreditation.Portal.Resources
@using EPR.Accreditation.Portal.Helpers.TagHelpers

@{
    ViewData["Title"] = PermitExemptionResources.PageTitle;
}

<partial name="_ValidationSummary" />
@* <partial name="_WasteMaterialName" /> *@
<form method="post">
    <radios asp-for="HasPermitExemption" asp-title="@PermitExemptionResources.PageHeading">
        <p class="govuk-error-message">
            <span asp-validation-for="HasPermitExemption"></span>
        </p>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" asp-for="HasPermitExemption" value="@true" aria-describedby="@MasterResources.Yes">
            <label class="govuk-label govuk-radios__label" for="@MasterResources.Yes">
                @MasterResources.Yes
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" asp-for="HasPermitExemption" value="@false" aria-describedby="@MasterResources.No">
            <label class="govuk-label govuk-radios__label" for="@MasterResources.No">
                @MasterResources.No
            </label>
        </div>
    </radios>
    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit" name="saveAndContinue" value="@SaveButtonValues.SaveAndContinue">
            @MasterResources.SaveAndContinue
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveAndContinue" value="@SaveButtonValues.SaveAndComeBackLater">
            @MasterResources.SaveAndComeBack
        </button>
    </div>
</form>