@using EPR.Accreditation.Portal.Resources;
@using EPR.Accreditation.Portal.ViewModels;

@model WasteLicensesAndPermitsViewModel
@{
    ViewData["Title"] = WasteLicensesAndPermitsResources.PageTitle;
}

<partial name="_ValidationSummary" />

<form method="post">
    <input id="Id" name="Id" type="hidden" value="@Model.Id"/>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Waste licences and permits</h1>
            <p class="govuk-hint">Enter the reference numbers for the licences and permits you have.</p>
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group">
                    <p class="govuk-error-message">
                            <span asp-validation-for="RegistrationNumber"></span>
                        </p>
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="registration-number">
                            @WasteLicensesAndPermitsResources.RegistrationNumber
                        </label>
                    </h2>
                    <div id="registration-hint" class="govuk-hint">
                            @WasteLicensesAndPermitsResources.LeaveBlank
                    </div>
                    <input class="govuk-input" id="RegistrationNumber" name="RegistrationNumber" type="text" aria-describedby="registration-number-hint">
                </div>
                <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="permit-number">
                            @WasteLicensesAndPermitsResources.PermitNumber
                        </label>
                    </h2>
                    <div id="permit-number-hint" class="govuk-hint">
                            @WasteLicensesAndPermitsResources.LeaveBlank
                    </div>
                    <input class="govuk-input" id="PermitNumber" name="PermitNumber" type="text" aria-describedby="permit-number-hint">
                </div>
                <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="activity-number">
                            @WasteLicensesAndPermitsResources.ActivityNumber
                        </label>
                    </h2>
                    <div id="activity-number-hint" class="govuk-hint">
                            @WasteLicensesAndPermitsResources.LeaveBlank
                    </div>
                    <input class="govuk-input" id="ActivityNumber" name="ActivityNumber" type="text" aria-describedby="activity-number-hint">
                </div>
                <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="activity-reference-number">
                            @WasteLicensesAndPermitsResources.ActivityReferenceNumber
                        </label>
                    </h2>
                    <div id="activity-reference-hint" class="govuk-hint">
                            @WasteLicensesAndPermitsResources.LeaveBlank
                    </div>
                    <input class="govuk-input" id="ActivityReferenceNumber" name="ActivityReferenceNumber" type="text" aria-describedby="activity-reference-number-hint">
                </div>
                <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--s" for="discharge-number">
                            @WasteLicensesAndPermitsResources.DischargeConstentNumber
                        </label>
                    </h2>
                    <div id="discharge-hint" class="govuk-hint">
                            @WasteLicensesAndPermitsResources.LeaveBlank
                    </div>
                    <input class="govuk-input" id="DischargeConstentNumber" name="DischargeConstentNumber" type="text" aria-describedby="discharge-number-hint">
                </div>
                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" type="submit">
                        Save and continue
                    </button>
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Save and come back later
                    </button>
                </div>
            </fieldset>
        </div>
    </div>
</form>
